---
name: Lint
on: pull_request

jobs:
  yamllint:
    name: Yamllint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.5.0
        with:
          strict: true

  markdownlint:
    name: markdown
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21
